a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.link_hidden {
    cursor: default;
    text-decoration: none;
}

body{
    background-color: #DEF;
    color: black;
}

 .centered_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

